$objectConfig: 0,
contain,
cover,
fill,
scale-down;

@each $tuple in $objectConfig {
    .object-fit-#{($tuple)} {
        object-fit: $tuple;
    }
}

@for $i from 1 through 5000 {
  .vh-height-#{$i} {
    height: calc(100vh - #{$i}px);
  }
}
